:root {
    --primary-color: #003876;
    --black-color: #000000;
    --white-color: #ffffff;
    --line-color: #dddddd;
    --notice-content-color: #444444;
    --footer-li-color: #cccccc;
    --background-color: #f9f9f9;
    --footerline-color: #555555;
}

body {
    overflow-x: hidden;
}

.inner {
    max-width: 1290px;
    margin: 0 auto;
}

.default {
    padding: 100px 0;
}

.default .inner {
    max-width: 1290px;
    margin: 0 auto;
}

.default .tit {
    max-width: 1290px;
    margin: 0 auto 40px auto;
}

.default .tit h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;

    text-transform: uppercase;
    color: var(--primary-color);
}

a {
    display: block;
    font-size: 16px;
}

span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.arrows button {
    font-size: 0;
}

.arrows button img {
    width: 24px;
    height: 24px;
}

@media(max-width:768px) {
    .default .tit {

        margin: 0 auto 24px auto;
    }

    .default {
        padding: 40px 16px;
    }

    .default .tit h2 {
        font-size: 24px;
        line-height: 24px;
    }

}