* {
    /* outline: 1px solid tomato; */
}

.header {
    position: relative;
    border-bottom: 1px solid var(--line-color);
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.header .inner .gnb>ul {
    display: flex;
}

.header .inner .gnb>ul>li>a {
    padding: 0 20px;
    font-size: 18px;
    line-height: 100px;
    font-weight: 500;
    color: var(--notice-content-color);
    white-space: nowrap;
}


.header .inner .gnb>ul>li:hover>a {
    color: var(--primary-color);
}

.header .inner .gnb .sub {
    display: none;
}

.header .inner .gnb>ul>li:hover .sub {
    display: block;
}

.header .inner .gnb .sub {
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid var(--line-color);
}


.header .inner .gnb .sub>ul {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    gap: 80px;
    display: flex;
    justify-content: center;
}

.header .inner .gnb .sub>ul>li {
    position: relative;
    margin: 16px 0;
}

.header .inner .gnb .sub>ul>li>a {

    margin: 0 0 8px 0;

    line-height: 24px;
    color: var(--primary-color);
    white-space: nowrap;
}

.header .inner .gnb .sub .smenu>li>a {

    line-height: 32px;
    font-size: 14px;
    white-space: nowrap;
}

.header .inner .util {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 300px;
}

.header .inner .util>li>a {

    font-size: 14px;
    font-weight: 400;
    line-height: 100px;
    white-space: nowrap;
}

.header .inner .mgnb {
    display: none;
}

.header .inner .mbtn {
    display: none;
}


@media (max-width:768px) {
    .header {
        z-index: 999;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        background: var(--white-color);
    }

    .header .inner {
        overflow: hidden;
    }

    .header .inner .util {
        display: none;
    }

    .header .inner .logo {
        z-index: 9999;
        padding: 0 0 0 16px;
    }

    .header .inner .mbtn {
        display: block;
        position: absolute;
        z-index: 9999;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
    }

    .header .inner .mbtn {
        font-size: 24px;
        color: var(--black-color);
    }

    .header .inner .gnb.on {
        left: 0%;
        overflow-y: auto;
    }

    .header .inner .gnb.on::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 61px);
        height: 100px;
        background: var(--white-color);

        z-index: 1000;
    }

    .header .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 60px);
        height: 100vh;
        z-index: 999;
        padding: 100px 16px;
        border-right: 1px solid var(--line-color);
        background: var(--white-color);
        transition: 0.5s;
    }

    .header .inner .gnb>ul {
        flex-direction: column;
        height: 0;
        gap: 0;
    }

    .header .inner .gnb>ul>li {}

    .header .inner .gnb>ul>li>a {
        padding: 0;
        line-height: 64px;
        border-bottom: 1px solid var(--line-color);
        color: var(--primary-color);
    }

    .header .inner .gnb>ul>li:hover .sub {
        display: none;
    }

    .header .inner .gnb .sub {
        position: static;
    }

    .header .inner .gnb .sub>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .inner .gnb .sub>ul>li {
        margin: 0;
    }

    .header .inner .gnb .sub>ul>li>a {
        margin: 0 0 0 8px;
        line-height: 56px;
        border-bottom: 1px solid var(--line-color);
        color: unset;
    }

    .header .inner .gnb .sub>ul>li:last-child>a {
        border-bottom: none;
    }

    .header .inner .gnb .smenu {
        display: none;
    }

    .header .inner .gnb .sub .smenu>li>a {
        margin: 0 0 0 16px;
        line-height: 48px;
    }

}



/* 메인 비주얼 */

.main_visual {
    /* max-height: 600px; */
    height: 77vh;
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

@media (max-width:768px) {
    .main_visual {
        height: 56vh;
    }
}





/* 메인 베너 */

.main_banner {
    padding: 30px 0;
}

.main_banner .inner .itm {
    display: flex;
    align-items: center;
}

.main_banner .inner .itm {
    position: relative;
    display: block;
    max-width: 258px;
    width: 100%;
    height: 60px;
    text-align: center;
}

.main_banner .inner .itm::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 40px;
    width: 1px;
    background: var(--line-color);
}

.main_banner .inner .itm:first-child::before {
    display: none;
}

.main_banner .inner .itm a {
    line-height: 30px;
    font-weight: 500;
    text-align: center;
}

.main_banner .inner .itm a>span {
    line-height: 30px;
    text-align: center;
}

.main_banner .inner .arrows {
    display: none;
}

@media(max-width:768px) {
    .main_banner {
        padding: 30px 16px;
    }

    .main_banner .inner {
        position: relative;
    }

    .main_banner .inner>ul {}

    .main_banner .inner .itm {
        max-width: unset;
    }

    .main_banner .inner .itm::before {
        content: none;
    }

    .main_banner .inner .itm:nth-child(5):after {
        content: none;
    }

    .main_banner .inner .arrows {
        display: block;
    }

    .main_banner .inner .arrows .next {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        height: 100%;
    }

    .main_banner .inner .arrows .prev {
        position: absolute;
        z-index: 9;
        top: 0;
        height: 100%;
    }
}





/* 메인 노티스 */

.main_notice {
    background: var(--background-color);
}

.main_notice .inner {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.main_notice .inner .left {
    flex: 1 0 850px;
}

.main_notice .inner .left {
    max-width: 850px;
    width: 100%;
    border: 1px solid var(--line-color);
    background: var(--white-color);
}

.main_notice .inner .left .tap_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.main_notice .inner .left .tap_menu>* {
    flex: 1;
}

.main_notice .inner .left .tap_menu li {
    border-right: 1px solid var(--line-color);
}

.main_notice .inner .left .tap_menu li:last-child {
    border-right: none;
}

.main_notice .inner .left .tap_menu li button {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    white-space: nowrap;
    font-family: "Noto Sans KR";
}

.main_notice .inner .left .tap_menu li.on button {
    color: var(--white-color);
    background: var(--primary-color);
}

.main_notice .inner .left .tap_menu li a {
    position: relative;
    line-height: 80px;
    width: 52px;
    height: 80px;
    color: transparent;
}

.main_notice .inner .left .tap_menu li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 1px;
    background: var(--black-color);
}

.main_notice .inner .left .tap_menu li a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    height: 16px;
    width: 1px;
    background: var(--black-color);
}

.main_notice .inner .left .notice_content {
    padding: 50px 48px;
}

.main_notice .inner .left .notice_content>ul {
    display: none;
}

.main_notice .inner .left .notice_content>ul.on {
    display: block;
}

.main_notice .inner .left .notice_content>ul>li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    line-height: 39px;
}

.main_notice .inner .left .notice_content>ul>li>a {
    position: relative;
    text-indent: 28px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 110px);
    text-overflow: ellipsis;
}

.main_notice .inner .left .notice_content>ul>li>a::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, 0);
    background: var(--notice-content-color);
    border-radius: 50%;
}

.main_notice .inner .left .notice_content>ul>li>span {
    margin: 0 0 0 auto;
    color: var(--notice-content-color);
}


.main_notice .inner .right {
    background: var(--white-color);
    width: 410px;
}

.main_notice .inner .right .tap_wrap {
    border: 1px solid var(--line-color);
}

.main_notice .inner .right .menu {
    border-bottom: 1px solid var(--line-color);
}

.main_notice .inner .right .menu li {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}

.main_notice .inner .right .menu li a {
    position: relative;
    line-height: 80px;
    width: 52px;
    height: 80px;
    color: transparent;
}

.main_notice .inner .right .menu li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 1px;
    background: var(--black-color);
}

.main_notice .inner .right .menu li a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    height: 16px;
    width: 1px;
    background: var(--black-color);
}

.main_notice .inner .right .notice_sec_content {
    padding: 50px 48px;
    max-width: 410px;
}

.main_notice .inner .right .notice_sec_content>ul>li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    line-height: 39px;
}

.main_notice .inner .right .notice_sec_content>ul>li>a {
    position: relative;
    text-indent: 28px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
}

.main_notice .inner .right .notice_sec_content>ul>li>a::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, 0);
    background: var(--notice-content-color);
    border-radius: 50%;
}

@media (max-width:1290px) {
    .main_notice .inner {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .main_notice .inner {
        flex-direction: column;
    }

    .main_notice .inner .left {
        flex: none;
    }

    .main_notice .inner .left .notice_content {
        padding: 0 16px;
    }

    .main_notice .inner .left .notice_content>ul>li {}

    .main_notice .inner .left .tap_menu li {
        width: 100%;
    }

    .main_notice .inner .left .tap_menu li button {
        max-width: 182px;
        width: 100%;
        padding: 0;
        line-height: 55px;
        font-size: 18px;
        color: var(--black-color);
    }

    .main_notice .inner .left .notice_content>ul>li {
        line-height: 47px;
    }

    .main_notice .inner .left .notice_content>ul>li:last-child {
        border-bottom: none;
        line-height: 48px;
    }

    .main_notice .inner .left .tap_menu li a {
        height: 55px;
    }

    .main_notice .inner .right {
        width: 100%;
    }

    .main_notice .inner .right .menu li:first-child {
        width: 100%;
        padding: 0;
        line-height: 55px;
        font-size: 18px;
    }

    .main_notice .inner .right .menu li a {
        height: 55px;
    }

    .main_notice .inner .right .notice_sec_content {
        padding: 0 16px;
        max-width: 768px;
    }

    .main_notice .inner .right .notice_sec_content>ul>li {
        line-height: 47px;
    }

    .main_notice .inner .right .notice_sec_content>ul>li:last-child {
        line-height: 48px;
        border-bottom: none;
    }
}






/* 메인 컨텐트 */

.main_content {
    position: relative;
}

.main_content .inner {
    position: relative;
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}

.main_content .inner .txt_box {
    margin: 0 0 16px 0;
}

.main_content .inner .txt_box strong {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.main_content .inner .itm .img_box {
    margin: 0 0 16px 0;
    border: 1px solid var(--line-color);
}

.main_content .inner .itm .img_box img {
    width: 100%;
    object-fit: cover;
}

.main_content .inner .itm .desc_box p {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    text-align: center;
}

.main_content .inner .arrows {
    position: absolute;
    top: 4px;
    right: 4px;

    display: flex;
    gap: 16px;
}

.main_content .inner .arrows button img {
    width: 16px;
    height: 16px;
}


.main_content .inner .arrows .next::before {
    border: 1px solid var(--line-color);
}

.main_content .inner .arrows .prev {
    position: relative;
}

.main_content .inner .arrows .next {
    position: relative;
}

.main_content .inner .arrows .prev::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--line-color);
}

.main_content .inner .arrows .next::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--line-color);
}




@media (max-width:768px) {
    .main_content .inner {
        display: block;
    }

    .main_news_slide {
        margin: 0 0 30px 0;
    }

    .main_content .inner .txt_box strong {
        font-size: 18px;
        line-height: 24px;
    }

    .main_content .inner .itm .img_box {
        margin: 0 0 16px 0;
    }

    .main_content .inner .itm .desc strong {
        margin: 0;
        font-size: 14px;
    }

    .main_content .inner .arrows button img {
        width: 20px;
        height: 20px;
    }

    .main_content .inner .itm .desc_box p {
        font-size: 14px;
    }

    .main_content .inner .arrows {
        top: 2px;
        right: 2px;
    }

    .main_content .inner .arrows .prev::before {
        top: -2px;
        left: -2px;
    }

    .main_content .inner .arrows .next::before {
        top: -2px;
        left: -2px;
    }

}





/* 메인 캘린더 */

.main_calendar {
    padding: 58px 0;
    background: url(../images/main_banner_bg.jpg)no-repeat center center/cover;
}

.main_calendar .tit h2 {
    color: var(--white-color);
}

.main_calendar .inner .itm {
    display: flex;
    justify-content: space-between;
}

.main_calendar .inner .itm {
    position: relative;
    display: block;
    width: 258px;
    text-align: center;
}

.main_calendar .inner .itm::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translate(0, -50%);
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
}

.main_calendar .inner .itm:last-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translate(0, -50%);
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
}


.main_calendar .inner .itm>a {
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    color: var(--white-color);
}

.main_calendar .inner .itm>span {
    line-height: 24px;
    color: var(--white-color);
    text-align: center;
}

.main_calendar .inner .arrows {
    display: none;
}

@media (max-width:768px) {
    .main_calendar {
        padding: 40px 0;

    }

    .main_calendar .inner {
        padding: 0 16px;
    }

    .main_calendar .inner .swiper-wrapper {
        align-items: center;
    }

    .main_calendar .inner .itm::before {
        content: none;
    }

    .main_calendar .inner .itm:last-child::after {
        content: none;
    }

    .main_calendar .inner .itm>a {
        font-size: 24px;
        line-height: 24px;
    }

    .main_calendar .inner .arrows {
        display: block;
    }

    .main_calendar .inner .arrows .next {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        height: 100%;
    }

    .main_calendar .inner .arrows .prev {
        position: absolute;
        z-index: 9;
        top: 0;
        height: 100%;
    }
}




/* 메인 아카이브 */

.main_archives {}


.main_archives .inner .itm .video_box {
    position: relative;
    padding-bottom: 52.25%;
    margin: 0 0 16px 0;
    background: var(--line-color);
}

.main_archives .inner .itm .video_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main_archives .inner .itm p {
    text-align: center;
}

@media (max-width:768px) {}






/* 푸터 */

.footer {
    background: var(--notice-content-color);
}

.footer .inner .ft {
    padding: 40px 0;
    border-bottom: 1px solid var(--footerline-color);
}

.footer .inner .ft>ul {
    display: flex;
    gap: 40px;
}

.footer .inner .ft>ul>li {
    position: relative;
}

.footer .inner .ft>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background: var(--footerline-color);
}

.footer .inner .ft>ul>li>a {

    color: var(--footer-li-color);
}

.footer .inner .ft>ul>li>.b {
    font-weight: 800;
    color: var(--white-color);
}

.footer .inner .fb {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.footer .inner .fb>ul>li {
    font-size: 14px;
    line-height: 24px;
    color: var(--footer-li-color);
}

.footer .inner .fb .sns_icon {
    margin: 0 0 0 auto;
    display: flex;
    gap: 24px;
}

@media (max-width:768px) {
    .footer {
        padding: 0 16px;
    }

    .footer .inner .ft {
        padding: 20px 0;
    }

    .footer .inner .ft>ul>li>a {
        font-size: 14px;
    }

    .footer .inner .fb {
        padding: 20px 0;
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }

    .footer .inner .ft>ul {
        flex-direction: column;
        gap: 20px;
    }

    .footer .inner .fb .sns_icon {
        margin: 0;
    }

}






/* top 버튼 */

.to_top {
    position: fixed;
    z-index: 999;
    bottom: 180px;
    right: 100px;

    opacity: 0;
    visibility: hidden;

    transition: 0.1s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;

    transition: 0.5s;
}

.to_top button {
    border: none;
    background: transparent;
}

.to_top button i {
    padding: 16px;
    transform: rotate(90deg);
    font-size: 24px;
    border-radius: 50%;
    color: var(--white-color);
    background: var(--primary-color);
}

@media(max-width:768px) {
    .to_top {
        bottom: 20px;
        right: 16px;
    }

    .to_top button i {
        padding: 16px;
        font-size: 16px;
    }
}